.titleApp{
  height: 400px;
  margin: 50px;
  background-color: rgb(255, 133, 68);
  color: #403e3e;
}

.textTittle{
  max-width: 400px;
  position: relative;
  top: 100px;
  left: 850px;}

.containerLogin{
  padding: 65px 50px 5px 50px;
  color: #676767;
  width: 550px ;
  height: 500px;
  position: relative;
  top: -475px;
  left: 200px;
  -webkit-box-shadow: 7px 9px 18px 10px rgba(0,0,0,0.67);
  -moz-box-shadow: 7px 9px 18px 10px rgba(0,0,0,0.67);
  box-shadow: 7px 9px 18px 10px rgba(0,0,0,0.67);
  background-color: #fafafa;
}

.form-control{
  height: calc(1.5em + .75rem + 15px) !important;
  border: 1px solid #a7a7a7 !important;
  border-radius: 0 !important;
}

.btn{
  width: 150px;
  font-weight: 500 !important;
}

.containerApp{
  margin-top: 100px;
}

.logout-btn{
  width: 200px;
}

.Header-publi{
  /*background-color: #ffffff;*/
}

.publi-content{
  max-width: 75%;
  border: #132126 solid 1px;
  background-color: #bfbfbf;
  width: 75%;
}

.text-content{
  font-size: 25px;
}

.content-like{
  margin-left: 0px !important;
  width: 100%;
  border-top: #403e3e 1px solid;
  background-color: #888888;
}

.content-like > button{
  font-size: 30px;
}
